-i https://pypi.org/simple
black==24.4.2; python_version >= '3.8'
click==8.1.7; python_version >= '3.7'
isort==5.13.2; python_full_version >= '3.8.0'
markdown-it-py==3.0.0; python_version >= '3.8'
mdurl==0.1.2; python_version >= '3.7'
mypy-extensions==1.0.0; python_version >= '3.5'
packaging==24.0; python_version >= '3.7'
pathspec==0.12.1; python_version >= '3.8'
platformdirs==4.2.1; python_version >= '3.8'
pydebug==1.0.3
pygame==2.5.2; python_version >= '3.6'
pygments==2.18.0; python_version >= '3.8'
rich==13.7.1; python_full_version >= '3.7.0'
screeninfo==0.8.1; python_full_version >= '3.6.2' and python_full_version < '4.0.0'
